.login-page{
    width: 390px;
    padding: 35px;
} 

.c-585858{
    color: #585858;
} 

.bw{
    background-color: white;
}

.h-55{
    height: 42px;
} 

.form-control::placeholder{
    color: #A9A8A8;
}




.form-control{
    height: 42px;
    // border: 1.5px solid #ececec;
}

.login-btn{
    background-color: #FF9900;
    border: none;
    border-radius: 5px;
    color: white;
    height: 37px; 
    // width: 100px;
}

.login-btn:disabled{

    background-color: #D3D3D3;

    border: none;

    border-radius: 5px;

    color: white;

    height: 37px;

    // width: 100px;

}

.c-5F5F61{
    color: #5F5F61;
}

.c-FF9900{
    color: #FF9900;
}

.l-h{
    line-height: 1px;
}

:host ::ng-deep .otp-input{
    margin-right: 0px !important;
    width: 42px !important;
    height: 42px !important;
    border-radius: 5px !important;
    text-align: center !important;
    font-size: 20px !important;
    border: 1.5px solid #ececec !important;
    outline: none;
}

.noraml-border{
    border: 1.5px solid #ececec;
}

.error-border{
    border: 1.5px solid rgb(255, 11, 11);

}

:host ::ng-deep .ng-otp-input-wrapper {
    display: flex;
    justify-content: space-around;
}



:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}

:host ::ng-deep .mat-calendar-body-selected {
    background-color: #FF9900 !important; 
    color: #fff;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
     background-color: transparent; 
}

:host ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0px;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0px;  
}

:host ::ng-deep .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-underline::before{
    background-color:transparent;
}

:host ::ng-deep .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex{
    background-color: transparent;
}

:host ::ng-deep .mat-form-field-underline {
    display: none;
}

:host ::ng-deep .mat-form-field-infix {
    padding:0px;
    border-top: 0px solid transparent;
} 

:host ::ng-deep .mat-focus-indicator.mat-icon-button.mat-button-base {
    height: 0px;
    width: 0px;
}

.date-picker{
    border: 1.5px solid #ececec;
    border-radius: 5px;
    // padding: 0px !important;
    height: 42px;
    color: black;
}

:host ::ng-deep .mat-form-field-infix{
    width: auto;
}

.mat-input-element:disabled, 
.mat-form-field-type-mat-native-select
.mat-form-field-disabled 
.mat-form-field-infix::after{
    color: black;
}

.eye-icon{
    background-color: transparent;
    border: 0px;
    color: #A9A8A8;
}