.btn{
    width:150px;
    border-radius: 30px;
    // color: #198754;
    // border-color: #198754;
    // &:hover{
    //     color: #fff !important;
    //     background-color: #198754 !important;
    //     border-color: #198754 !important;
    // }
}
.details{
    max-width: 600px;
    margin: 20px auto;
    margin-bottom: 50px;
}
.btn_failed{
    width:150px;
    border-radius: 30px;
    color: #e0d206;
    border-color: #e0d206;
    &:hover{
        color: #fff !important;
        background-color: #e0d206 !important;
        border-color: #e0d206 !important;
    }
}


.container-bgc{

    background-color: #F5F5F5;
    height: 100vh ;
    
    }
    
    .white-box{
    
        background-color: white;
    
    }
    
    .box1-text1{
    
        font-size: 21px;
    
        font-weight: 600;
    
    }
    
    .box1-text2{
    
        font-size: 13px;
    
        color: #6D6D6D;
    
        font-weight: 400;
    
    }
    
    .box1-link{
    
        color:#F6AF04;
    
        text-decoration: none;
    
        font-size: 14px;
    
        font-weight: 600;
    
    }
    
    
    
    
    .box-2{
    
        background-color:#E5E4E2;
    
        border-top:4px solid #C3C2C0;
    
    }
    
    .box2-text1{
    
        font-size: 12px;
    
        font-weight: 700;
    
        color: #717478;
    
        // font-family: Poppins;
    
        text-transform: uppercase;
    
    }
    
    .box2-text2{
    
        font-size: 15px;
    
        font-weight: 700;
    
    }
    
    .box2-text3{
    
        font-size: 14px;
    
        color: #717478;
    
        font-weight: 500;
    
    }
    
    .box2-text4{
    
        font-size: 13px;
    
        color: #717478;
    
        font-weight: 400;
    
    
    
    
    }
    
    .box2-deliverytime{
    
        font-size: 11px;
    
        font-weight: 700;
    
        color: #717478;
    
    }
    
    .price-details{
    
        font-size: 13px;
    
        font-weight: 500;
    
        color: #717478;
    
    }
    
    .price-details1{
    
        font-size: 14px;
    
        font-weight: 700;
    
       
    
    }
    
    .price{
    
        font-size: 14px;
    
        font-weight: 500;
    
    }
    
    .price1{
    
        font-size: 14px;
    
        font-weight: 500;
    
        color:#079B16;
    
    }
    
    .price2{
    
        font-size: 15px;
    
        font-weight: 700;
    
    }
    
    .box-3{
    
        border-bottom: 1px solid #F5F5F5;;
    
    }
    
    .btn{
    
       background-color:#FF7E07 ;
    
       color: white;
    
       font-size: 13px;
    
       font-weight: 400;
    
       border-radius: 3px;
    
    }