@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container-fluid{
    font-family: 'Roboto', sans-serif;
}

.disabled-link{
    pointer-events: none;
} 

.text-align{
    text-align: start;
}

.footer-link:hover {
    text-decoration: underline;
  }
  
.cursor{
    cursor: pointer;
}

.sidra-main-footer{
    background-color: #323031;
}

.fz-27{
    font-size: 27px;
}

.fz-15{
    font-size: 15px;
}


.fw-bold{
    font-weight: bold;
}

.fw-400{
    font-weight: 400;
}

.cw{
    color: white;
}

.footer-btn_One{
    width: 150px;
    height: 39px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
}

.footer-btn_two{
    width: 150px;
    height: 39px;
    border-radius: 5px;
    font-size: 14px;
    color: black;
    border: 1px solid white;
    background-color: white;
}
.btn-footer-btn{
    border-radius: 0px !important;
    background-color: black !important;
    border: none !important;
}

// .dropdown{
//     width: 116px !important;
//     height: 40px !important;
// }
.w-11{
    width: 9%;
}

.w-17{
    width: 13%; 
} 

.cwl{
    color: #e1e1e1;
    text-decoration: none;
}
.cwl:hover{
    text-decoration: underline;
}

.btn-footer-four{
    // width: 104px;
    // height: 40px;
    background-color: #121212;
    border-radius: 0px;
    color:white;
    border: none;
    border-radius: 2px;
}
.sidra-main-footer-one{
    background-color: #282627;
    border-top: 1px solid #4d4646;
}

.logo{
    // width: 87px;
    height: 26px;
}

.rounded-btn{
    height: 39px;
    width: 39px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    transition: transform .2s;
    &:hover{
        transform: scale(1.1);
    }
}

.fz-13{
    font-size: 13px;
}

.uk-select{
    width: 117px;
    color: white;
    border-radius: 2px;
    background-color: #121212;
    border: none !important;
}

.option-select{
   background-image: url('../../../assets/icons/flag.svg');
   width: 24px;
   height: 18px;
   background-repeat: no-repeat;
}

@media screen and (min-width: 320px) and (max-width: 343px) {
    .btn-footer-four{
        font-size: 11px;
    } 
}
@media screen and (min-width: 320px) and (max-width: 440px) {
    .footer_content1{
.cw{
    font-size: 19px !important;
}        
    } 
    .footer-btn_two{
        width: 120px;
        height: 30px;
        font-size: 12px;
       
    }
}
@media screen and (min-width: 320px) and (max-width: 799px) {
    .rounded-btn{
        height: 30px !important;
        width: 30px !important;
    }
    .copyright{
        .cw{
            font-size: 11px !important;
        }
    }
    .footer_sidralogo{
        img{
            width:90px;
        }
    }
}

@media screen and (min-width:320px) and (max-width:575px){
    .Download img {
        width: 100px !important;
    } 
}
