.notify_box{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    // background-color: #FCF1E3;
}

.FCF1E3{
    background-color: #FCF1E3;
}

.E3F0FC{
    background-color: #E3F0FC;
}

.DEF0E1{
    background-color: #DEF0E1;
}

.E8E5FC{
    background-color: #E8E5FC;
}

.bgw{
    background-color: white;
}


.notify:hover{
    background-color: #F9F9F7;
}

.c-FF9900{
    color: #FF9900;
}

.review-btn{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background: transparent;
    border: 1.5px solid #ececec;
}


.defualt-btn{
    width: 50px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: #FF9900;
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center;
}