/* You can add global styles to this file, and also import other style files */
@import './assets/scss/main.scss';
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body{
    margin: 0px;
}
.max-width-100{
    max-width: 100% !important;
}
.max-width-100vh{
    max-width: 100vw;
}
.ngx-slider .ngx-slider-pointer {
    width: 20px !important;
    height: 20px !important;
    top: -10px !important;
    background: #086DB5 !important;
    outline: none !important;
}
.ngx-slider .ngx-slider-pointer:after{
    top:6px !important;
    left:6px !important;
    background-color: #fff !important;
}
.ngx-slider .ngx-slider-selection{
    background-color: #d8e0f3 !important;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.pac-container{
    z-index: 10000000 !important;
}


.pi{
    font-family: 'primeicons'!important
  }  
  
.otp-input{
    margin-right: 4px !important;
    width: 40!important;
    height: 40!important;
    border-radius: 5px !important;
    text-align: center !important;
    font-size: 20px !important;
    border: 1.5px solid #ececec !important;
    outline: none;
  }
  
  .p-dialog{
      width: 330px;
  }


  .p-dialog .p-dialog-content {
    background: #ffffff;
    color: #495057;
    padding: 0 0.5rem 1rem 0.5rem;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';



  