.bgw{
    background-color: white;
}

.c-5F5F61{
    color: #5F5F61;
}

.h-55{
    height: 42px;
} 

.form-control::placeholder{
    color: #A9A8A8;
}

.form-select{
    height: 42px;
    border: 1.5px solid #ececec;
    font-size: 13px;
    color: #A9A8A8;
}

.form-control{
    height: 42px;
    border: 1.5px solid #ececec;
}

.fw-bold{
    font-weight: bold;
}

.update-btn{
    background-color: #FF9900;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 12px 25px;
}
.update-btn:disabled,
.update-btn[disabled]{
        border: 1px solid #D3D3D3;
        background-color: #D3D3D3;
        color:white;
}
.c-FF9900{
  color: #FF9900 !important;
}

// .otp-input{
//     width: 42px;
//     height: 42px;
//     border-radius: 5px;
// }
:host ::ng-deep .otp-input{
    margin-right: 4px !important;
    width: 42px !important;
    height: 42px !important;
    border-radius: 5px !important;
    text-align: center !important;
    font-size: 20px !important;
    border: 1.5px solid #ececec !important;
    outline: none;
}

