<div class="bgw px-3 pt-4 pb-5">
    <div class="col-12 row mx-0 d-none d-sm-block">
        <span class="fz-15 fw-bold c-black">Change Password</span>
        <div class="c-5F5F61 fz-12 mt-2">
            <span class="">Your new password must be different from previous password</span>
        </div>
    </div>
    <div class="col-12 row mx-0 mt-sm-4 mt-0">
        <div class="col-xl-5 col-md-4 col-12">
            <label for="" class="fz-13 fw-bold mb-2">Current Password</label>
            <input type="password" [(ngModel)]="currentPass" class="form-control fz-12 h-55"  placeholder="Current password">
        </div> 
        <div class="col-xl-5 col-md-4 col-12   mt-md-0 mt-3 ">
            <label for="" class="fz-13 fw-bold mb-2">New Password</label>
            <input type="password" [(ngModel)]="newpass" class="form-control fz-12 h-55" (input)="passwordStrength(newpass)" placeholder="New Password">
            <span class="text-danger fz-12" *ngIf="passworWarning==true">Password minmum 8 length</span>
        </div>
        <div class="col-xl-2 col-md-4 col-12 d-flex flex-column   align-items-md-start">
            <button class="update-btn  mt-4" (click)="otpVerifyFirst()">Send OTP</button>
            <div class=" px-1 ps-md-1 ps-3 mt-md-1 mt-2 pt-md-0 pt-1 d-flex flex-md-column flex-row justify-content-center align-items-md-center align-items-start">
                <span class="fw-bold d-block d-md-none">Don't recieve the OTP ?</span>
                <i class="fz-13 fw-500 c-FF9900 ms-md-0 ms-1 mt-md-2 mt-0 cursor"  *ngIf="subscribeTimer!=0">{{subscribeTimer}} sec</i>
                <i class="fz-13 fw-500 c-FF9900 ms-md-0 ms-1 mt-md-2 mt-0 cursor"  *ngIf="subscribeTimer==0"(click)="reSendOtp()">Resend Otp</i>
            </div> 
        </div> 
    </div>
    <div class="col-12 row mx-0 mt-4 pt-2">
        <div class="col">  
            <label for="" class="fz-13 fw-bold mb-2">Enter OTP send to {{phoneNum}}</label>
            <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:5}"></ng-otp-input>
        </div> 
    </div>
    <div class="col-12 row mx-0 mt-4 mb-5">
        <div class="col d-flex flex-row align-items-center">
            <button class="update-btn" [disabled]="btn_Active==false" (click)="otpVerify()">Update</button>
        </div>
    </div>
</div>
