.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: #086db5 !important;
    border: none !important;
}

.btn{
    background-color: #086db5 !important;
    border: none !important;
}