.about-head {
    line-height: 13.13px;
    font-style: roboto;
    margin-left: 42px;
    font-weight: 600 !important;
    font-size: 24px !important;
}
.paragraph{
    margin-left: 42px;
}
.py-5 {
    padding-top: 1rem !important;
    padding-bottom: 3rem !important;
}
.p-Font{
    font-family: Roboto !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0em !important;
    text-align: justified !important;
    }