.bgw{
    background-color: white;
}

.c-5F5F61{
    color: #5F5F61;
}


.c-FF9900{
    color: #FF9900;
}

.points-round{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    background-color: #FFF2E6;
}

.c-5F5F61{
    color: #5F5F61;
}

.fz-45{
    font-size: 45px;
}


.form-control{
    height: 42px;
    border: 1.5px solid #ececec;
}

.form-control::placeholder{
    color: #A9A8A8;
}

.c-#A9A8A8{
    color: #A9A8A8;
}

.update-btn{
    // width: 160px;
    // height: 45px;
    background-color: #FF9900;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 12px 25px;
}