.login-page{
    width: 390px;
    padding: 35px;
} 

.c-585858{
    color: #585858;
} 

.bw{
    background-color: white;
}

.h-55{
    height: 45px;
} 

.form-control::placeholder{
    color: #A9A8A8;
}

.login-btn{
    background-color: #FF9900;
    border: none;
    border-radius: 5px;
    color: white;
    height: 45px;
}

.c-5F5F61{
    color: #5F5F61;
}

.c-FF9900{
    color: #FF9900;
}

.l-h{
    line-height: 1px;
}