.bgw{
    background-color: white;
}

.c-FF9900{
    color: #FF9900;
}

.update-btn{
    background-color: #FF9900;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 12px 10px;
    width: 110px;
} 


.fz-24{
    font-size: 24px;
}

.fz-32{
    font-size: 32px;
}

.c1B1B1F{
    color: #1B1B1F;
}

.cF8F7F5{
    background-color: #F8F7F5;
}

.benefits-box{
    border-radius: 10px 10px 0px 0px;
} 
.boxes{
    margin-top: -25px;
}
.box{
    border-radius: 5px;
    background: white;
} 

.textalign{
    text-align: center;
}

.cF0F2F5{
    background-color: #F0F2F5;
}

