<div class="bgw px-4 d-flex justify-content-between" style="padding: 21px 0px 21px 0px;">
    <span class="fz-15 fw-bold">Buy it Agaian</span>
 </div> 

 <div class="container-fluid bgw mt-2 py-4">
    <div class="col-12 row max-0">
        <div class="p-5 d-flex justify-content-between">
            <div class="mt-3 ps-5 d-flex flex-column">
                <span class="fz-32 fw-500"> 
                    Sidra Business Account,
                    <br class="my-1">
                    text something ....
                </span>
                <button class="update-btn mt-3">Selling Now</button>
            </div>
            <img src="../../../../assets/test/business.svg" alt="" class="pe-5" width="300">
        </div> 
    </div>
    <div class="col-12 row mx-0">
        <span class="fz-16 c1B1B1F fw-bold">How to Sell ?</span>
        <p class="mt-2 c1B1B1F fz-13" style="line-height: 1.6;">
            Lorem ipsum dolor sit amet, consect etur adipi scing elit. 
            Integer dolor varius lectus habit asse.Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus.
            Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus habit asse.Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus.Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus habit asse.
        </p>
    </div>
    <div class="col-12 row mx-0 px-5 py-5">
        <div class="cF8F7F5 benefits-box py-4 d-flex justify-content-center">
            <span class="fz-18 my-3 fw-400">BENIFITS OF BECOMING A VERIFIED SELLER ON SIDRACART</span>
        </div>
        <div class="boxes">
            <div class="col-12 row mx-0"> 
                <div class="col px-2">
                    <div class="box shadow-sm pb-5">
                        <div class="p-4 d-flex justify-content-center align-items-center">
                            <img src="../../../../assets/images/round-image.svg" alt="" width="100">
                        </div>
                        <div class="px-3 textalign">
                            <span class="fz-13 fw-500" >Manage your sales and products by
                                using your phone or computer
                            </span> 
                        </div>
                        <div class="px-3 pt-4 textalign">
                            <span class="fz-13">
                                Lorem ipsum dolor sit amet, cons ect etur adipi scing elit. 
                                ger dol or varius lectus habit asse.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col px-2">
                    <div class="box shadow-sm pb-5">
                        <div class="p-4 d-flex justify-content-center align-items-center">
                            <img src="../../../../assets/images/round-image2.svg" alt="" width="100">
                        </div>
                        <div class="px-3 textalign">
                            <span class="fz-13 fw-500" >Manage your sales and products by
                                using your phone or computer
                            </span> 
                        </div>
                        <div class="px-3 pt-4 textalign">
                            <span class="fz-13">
                                Lorem ipsum dolor sit amet, cons ect etur adipi scing elit. 
                                ger dol or varius lectus habit asse.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col px-2">
                    <div class="box shadow-sm pb-5">
                        <div class="p-4 d-flex justify-content-center align-items-center">
                            <img src="../../../../assets/images/round-image3.svg" alt="" width="100">
                        </div>
                        <div class="px-3 textalign">
                            <span class="fz-13 fw-500" >Manage your sales and products by
                                using your phone or computer
                            </span> 
                        </div>
                        <div class="px-3 pt-4 textalign">
                            <span class="fz-13"> 
                                Lorem ipsum dolor sit amet, cons ect etur adipi scing elit. 
                                ger dol or varius lectus habit asse.
                            </span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 row mx-0 mt-4">
        <span class="fz-16 c1B1B1F fw-bold">How to Sell on Sidracart ?</span>
        <p class="mt-2 c1B1B1F fz-13" style="line-height: 1.6;">
            Lorem ipsum dolor sit amet, consect etur adipi scing elit. 
            Integer dolor varius lectus habit asse.Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus.
            Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus habit asse.Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus.Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus habit asse.
        </p>
    </div>
    <div class="col-12 row mx-0 mt-2">
        <span class="fz-14 c1B1B1F fw-bold">1.Slave Lorem Ipsum :</span>
        <p class="mt-2 c1B1B1F fz-13" style="line-height: 1.6;">
            Lorem ipsum dolor sit amet, consect etur adipi scing elit. 
            Integer dolor varius lectus habit asse.Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus.
            Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus habit asse.Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus.Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus habit asse.
        </p>
    </div>
    <div class="col-12 row mx-0 mt-2">
        <span class="fz-14 c1B1B1F fw-bold">1.Slave Lorem Ipsum :</span>
        <p class="mt-2 c1B1B1F fz-13" style="line-height: 1.6;">
            Lorem ipsum dolor sit amet, consect etur adipi scing elit. 
            Integer dolor varius lectus habit asse.Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus.
            Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus habit asse.Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus.Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus habit asse.
        </p>
    </div>
    <div class="col-12 row mx-0 mt-3 mb-5">
        <div class="cF0F2F5 p-5">
            <div class="col-12 d-flex justify-content-center">
                <span class="fz-19 fw-bold">Lets Start Selling !</span>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <p class="fz-14" style="text-align: center;line-height: 1.7;">
                    Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus habit asse.Lorem ipsum dolor sit amet, consect etur adipi scing elit. Integer dolor varius lectus.Lorem ipsum dolor sit amet, consect etur adipi scing elit. 
                </p>
            </div>
            <div class="col-12 mx-0 row mt-4 d-flex justify-content-center">
                <button class="update-btn">Selling Now</button>
            </div>
        </div>
    </div>
 </div>

