<div class="py-1 px-3 box-1  shadow" style="position:fixed;width: 100%;top: 0;">
    <div class=" d-flex justify-content-between ">
        <div class="">
            <a [routerLink]="['/']" routerLinkActive="router-link-active" >
                <img src="../../../assets/assets/Sidra Logo 2 hori-15 1.svg" width="210" alt="">
            </a>
        </div>
        <div class=" d-flex align-items-center justify-content-end me-sm-3 me-0 ms-3">
            <div class="iconborder d-flex justify-content-center align-items-center  me-2">
                <a class="atag " href="https://twitter.com/SidraBazar">
                    <span class="fz-15" uk-icon="twitter"></span>
                </a>
            </div>

            <div class="iconborder d-flex justify-content-center align-items-center me-2">
                <a class="atag"href="https://www.facebook.com/profile.php?id=100090996295975">
                    <span class="fz-15" uk-icon="facebook"></span>
                </a>
            </div>

            <div class="iconborder d-flex justify-content-center align-items-center  me-2">
                <a class="atag" href="https://api.whatsapp.com/send?phone=971504459003">
                    <span class="fz-15" uk-icon="whatsapp"></span>
                </a>
            </div>
            <div class="iconborder d-flex justify-content-center align-items-center  ">
                <a class="atag" href="https://www.instagram.com/sidrabazar/">
                    <span   class="fz-15" uk-icon="instagram"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="main-container px-3 py-sm-5 py-3">
    <div class="px-sm-4 px-2 pt-4 pb-5 box mt-5">
        <p class="paragraph lh-sm my-3">
            Welcome to SidraBazar , Sidrabazar is a e-commerce brand powered by cluster star LLC at UAE for all your online shopping needs. We are dedicated to providing you with a seamless and enjoyable shopping experience, right from the comfort of your own home..

                

                Firstly, we primarily focus on serving customers in the UAE. We understand the unique needs and preferences of the local market, and our goal is to become your go-to online shopping platform in the region.

                

                At Sidra Bazar, we offer a wide range of products that cater to various segments, including groceries, bulk purchases, and business supplies. Whether you're stocking up on essentials, purchasing items in large quantities, or sourcing supplies for your business, we have you covered.

                

                One of our key strengths is our commitment to providing the fastest delivery option available. We understand the importance of prompt delivery, and we strive to get your orders to you as quickly as possible. Your time is valuable, and we aim to exceed your expectations with our efficient delivery service.

                

                In addition, we provide you with the convenience of multiple delivery address options. We understand that you may have different delivery locations for your home, office, or any other preferred addresses. With our platform, you can easily manage and select the most suitable delivery address for each order.

                

                Customer satisfaction is our top priority. We are committed to providing exceptional customer service at every step of your shopping journey. Our knowledgeable and friendly support team is always ready to assist you with any inquiries, product recommendations, or order-related assistance you may require. Your happiness and satisfaction are our driving forces.

                

                At Sidra Bazar, we value your trust and strive to build a long-lasting relationship with our customers. We prioritize transparency, reliability, and security in all our transactions. Your personal information and payment details are handled with the utmost care and protected by industry-standard security measures.

                

                We believe in continuous improvement and innovation. We consistently update our product offerings to stay ahead of the latest trends and technological advancements. Our goal is to bring you the newest and most exciting products that enhance your lifestyle and make everyday life more enjoyable.

                

                Thank you for choosing Sidra Bazar as your preferred online shopping destination. We look forward to serving you and making your shopping experience delightful.

                

                Happy shopping!

                has context menu
                Compose
        </p>
    </div>
</div>

<div class="footer d-none d-lg-block d-md-block d-sm-block">
    <div class="col-12 row ">
        <div class="col-lg-4 col-12"></div>
        <div class="col-lg-4 col-12  d-flex align-items-center justify-content-center">
            <p class="copyright  my-3"> © 2023 Sidrabazar.com All Rights Reserved</p>
            <span class="privacytag ms-2 cursor" [routerLink]="['/genaral-policy']">privacy & policy</span>
            <span class="privacytag ms-2 cursor" [routerLink]="['/termsanduse']">Terms-use</span>
        </div>
        <div class="col-lg-4 col-12"></div>
    </div>
</div>

<div class="footer d-block d-sm-none">
    <div class="col-12 row ">
        <div class=" col-12 d-flex align-items-center justify-content-center">
            <p class="copyright  my-2 ms-3"> © 2023 Sidrabazar.com All Rights Reserved</p>
        </div> 
        <div class=" col-12  d-flex align-items-center justify-content-center">
            <span class="privacytag ms-2 cursor" [routerLink]="['/genaral-policy']">privacy & policy</span>
            <span class="privacytag ms-2 cursor" [routerLink]="['/termsanduse']">Terms-use</span>
        </div>
    </div> 
</div> 

