.bgw{
    background-color: white;
}

.yesorno{
    border: 2px dashed #F4F3F1;
    border-radius: 10px;
}

.btn-yes{
    border-radius: 5px;
    border: 1.5px solid #efefef;
    background: #F4F3F1;
    color: #3D3C3C;
}

.btn-no{
    border-radius: 5px;
    border: 1.5px solid #efefef;
    background: transparent;
    color: #3D3C3C;
}

