<div class="container-fluid container-bgc">
    <div class="container py-5">
        <div class=" row mx-0 ">
            <div class="col-8 px-0">
                <div class="d-flex justify-content-center align-items-center flex-column white-box  py-2 pb-4">
                    <img src="../../assets/images/tenor.gif" width="90px" class="img" alt="">
                    <h3 class="my-0 box1-text1">Thank you for your purchase!</h3>
                    <p class="mb-0 mt-2 box1-text2"><b style="color: black;">Order No.</b> 61464 65414 614</p>
                    <p class="mt-0 box1-text2">A confirmation email has been sent to you</p>
                    <a class="box1-link" href="">Track your order</a>
                </div>
                <div class="col-12 row box-2 mx-0 mt-1">
                    <div class="col-4">
                        <div class="d-flex justify-content-start align-items-start flex-column py-5 ps-4">
                            <h5 class="mb-1 box2-text1">DELIVERY ADDRESS</h5>
                            <h5 class="mb-0 mt-2 box2-text2">Afthab Rahman</h5> 
                            <p class="my-0 mt-1 box2-text3">MP Tower, Thondayad bypass,
                                Khozhikode, 673572
                            </p>
                            <p class="box2-text4 mb-0">8606200441</p>
                            <p class="box2-text4 my-0">afthabrahman313@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-start align-items-start flex-column py-5 ps-4">
                            <h5 class="box2-text1 mb-1">DELIVERY option</h5>
                            <h5 class="mb-0 mt-2 box2-text2">Instant Delivery</h5> 
                            <p class="box2-text3 my-0 mt-1">2-3 Bussiness Days</p>
                            <h5 class="mb-0 mt-3 box2-deliverytime">Expected Delivery :</h5>
                            <p class="box2-text4 my-0 mt-2">04 july 2023</p>
                            <p class="box2-text4 mt-0">Delivery Slot : 9AM-12PM</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-start align-items-start flex-column py-5 px-3">
                            <h5 class="box2-text1 mb-1">payment method</h5>
                            <h5 class="mb-0 mt-2 box2-text2">Cash on Delivery</h5> 
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 ">
                <div class="white-box box-3">
                    <h5 class="box2-text1 pt-4 pb-3 px-3 mb-0">price details</h5>
                </div>
                <div class="white-box py-4 ">
                    <div class="d-flex justify-content-between align-items-center px-3 pb-2">
                        <span class="price-details">Selling Price</span>
                        <span class="price">1925.25</span>
                     </div>
                     <div class="d-flex justify-content-between align-items-center px-3 pb-2">
                        <span class="price-details">Discount</span>
                        <span class="price1">-125.0</span>
                     </div>
                     <div class="d-flex justify-content-between align-items-center px-3 pb-2">
                        <span class="price-details">Shipping & Packing</span>
                        <span class="price">14.25</span>
                     </div>
                     <div class="d-flex justify-content-between align-items-center px-3 pb-2">
                        <span class="price-details">Shipping Discount</span>
                        <span class="price1">-15.25</span>
                     </div>
                     <div class="d-flex justify-content-between align-items-center px-3 pb-2">
                        <span class="price-details">Tax</span>
                        <span class="price">125.25</span>
                     </div>
                     <div class="d-flex justify-content-between align-items-center px-3 pb-4">
                        <span class="price-details">Promotion</span>
                        <span class="price">5.25</span>
                     </div>
                     <div class="d-flex justify-content-between align-items-center px-3">
                        <span class="price-details1">Total Amount</span>
                        <span class="price2">5.25</span>
                     </div>
                </div>
                 <div>
                    <button type="button" class="btn px-5 py-2 w-100 my-2 ">Continue Shopping</button>
                 </div>
                 <div>
                    <img src="../../assets/images/Group 29166.png" alt="">
                 </div>
            </div>
        </div>
    </div>
</div>
